{# About section - home page #}
{% if post.meta('home_about_section') %}
	<section class="container-fluid about-section" id="about">
		<div class="container spacing-y">
			<div class="row">
				<div class="offset-lg-4 col-lg-16 text-center">
					<div class="fade-in-up">{{ post.meta('home_about_section_heading') }}</div>
					<img src="{{ Image(post.meta('profile_image')).src }}" alt="Daniel Rees profile image" id="profile-image" class="fade-in-up">
					<div class="fade-in-up">{{ post.meta('home_about_section') }}</div>
					<a href="mailto:danielreeswebdev@gmail.com?subject=Daniel%20Rees%20Website%20enquiry" class="btn btn-sm btn-primary">Get in touch</a>
				</div>
			</div>
		</div>
	</section>
{% endif %}