{# Contact section #}
<section class="container-fluid primary-bg spacing-y contact-section" id="contact">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h2 class="fade-in-up">Contact</h2>
			</div>
		</div>
		<div class="row mt-5 text-center">
			{% if post.meta('contact_block_one') %}
				<div class="col-lg-12 fade-in-up">
					<div class="contact-block">
						{{ post.meta('contact_block_one') }}
					</div>
				</div>
			{% endif %}
			{% if post.meta('contact_block_two') %}
				<div class="col-lg-12 fade-in-up">
					<div class="contact-block">
						{{ post.meta('contact_block_two') }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>	
</section>