{# Hero #}
<div class="hero">
	<div class="carousel-hero">
		{% if post.meta('slide_one_caption') %}
		<div class="carousel-hero__slide" style="background-image: url('{{ Image(post.meta('slide_one_image')).src }}')">
			<div class="container h-100">
				<div class="row h-100">
					<div class="col d-flex align-items-center">
						<div class="carousel-hero__slide__caption primary-bg mb-5 fade-in-up">
							{{ post.meta('slide_one_caption') }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% if post.meta('slide_two_caption') %}
		<div class="carousel-hero__slide" style="background-image: url('{{ Image(post.meta('slide_two_image')).src }}')">
			<div class="container h-100">
				<div class="row h-100">
					<div class="col d-flex align-items-center">
						<div class="carousel-hero__slide__caption primary-bg mb-5 fade-in-up">
							{{ post.meta('slide_two_caption') }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		{% if post.meta('slide_three_caption') %}
		<div class="carousel-hero__slide" style="background-image: url('{{ Image(post.meta('slide_three_image')).src }}')">
			<div class="container h-100">
				<div class="row h-100">
					<div class="col d-flex align-items-center">
						<div class="carousel-hero__slide__caption primary-bg mb-5 fade-in-up">
							{{ post.meta('slide_three_caption') }}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>
