{% if menu %}
	<div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="#about" class="nav-link scrollto">About</a>
			</li>
			<li class="nav-item">
				<a href="#skills" class="nav-link scrollto">Skills</a>
			</li>
			<li class="nav-item">
				<a href="#services" class="nav-link scrollto">Services</a>
			</li>
			<li class="nav-item">
				<a href="#portfolio" class="nav-link scrollto">Portfolio</a>
			</li>
			<li class="nav-item">
				<a href="#contact" class="nav-link scrollto">Contact</a>
			</li>
	    </ul>
	</div>
{% endif %}
