{# Portfolio section #}
<section class="container spacing-y" id="portfolio">
	<div class="row">
		<div class="col text-center">
			<h2 class="fade-in-up">Portfolio</h2>
			<p class="fade-in-up">More work examples are available upon request.</p>
		</div>
	</div>
	<div class="row mt-5">
		{% if post.meta('portfolio_image_one') %}
			<div class="col-md-12 col-lg-8 fade-in-up">
				<div class="portfolio-item" style="background-image: url('{{ Image(post.meta('portfolio_image_one')).src }}')">
					<div class="portfolio-item__details">
						<p>{{ post.meta('portfolio_text_one') }}</p>
						<a href="#" class="btn btn-sm btn-white" data-toggle="modal" data-target="#modal-one">Read more</a>
					</div>
				</div>	
			</div>
		{% endif %}
		{% if post.meta('portfolio_image_two') %}
			<div class="col-md-12 col-lg-8 fade-in-up">
				<div class="portfolio-item" style="background-image: url('{{ Image(post.meta('portfolio_image_two')).src }}')">
					<div class="portfolio-item__details">
						<p>{{ post.meta('portfolio_text_two') }}</p>
						<a href="#" class="btn btn-sm btn-white" data-toggle="modal" data-target="#modal-two">Read more</a>
					</div>
				</div>	
			</div>
		{% endif %}
		{% if post.meta('portfolio_image_three') %}
			<div class="col-md-12 col-lg-8 fade-in-up">
				<div class="portfolio-item" style="background-image: url('{{ Image(post.meta('portfolio_image_three')).src }}')">
					<div class="portfolio-item__details">
						<p>{{ post.meta('portfolio_text_three') }}</p>
						<a href="#" class="btn btn-sm btn-white" data-toggle="modal" data-target="#modal-three">Read more</a>
					</div>
				</div>	
			</div>
		{% endif %}
		{% if post.meta('portfolio_image_four') %}
			<div class="col-md-12 col-lg-8 fade-in-up">
				<div class="portfolio-item" style="background-image: url('{{ Image(post.meta('portfolio_image_four')).src }}')">
					<div class="portfolio-item__details">
						<p>{{ post.meta('portfolio_text_four') }}</p>
						<a href="#" class="btn btn-sm btn-white" data-toggle="modal" data-target="#modal-four">Read more</a>
					</div>
				</div>	
			</div>
		{% endif %}
		{% if post.meta('portfolio_image_five') %}
			<div class="col-md-12 col-lg-8 fade-in-up">
				<div class="portfolio-item" style="background-image: url('{{ Image(post.meta('portfolio_image_five')).src }}')">
					<div class="portfolio-item__details">
						<p>{{ post.meta('portfolio_text_five') }}</p>
						<a href="#" class="btn btn-sm btn-white" data-toggle="modal" data-target="#modal-five">Read more</a>
					</div>
				</div>	
			</div>
		{% endif %}
		{% if post.meta('portfolio_image_six') %}
			<div class="col-md-12 col-lg-8 fade-in-up">
				<div class="portfolio-item" style="background-image: url('{{ Image(post.meta('portfolio_image_six')).src }}')">
					<div class="portfolio-item__details">
						<p>{{ post.meta('portfolio_text_six') }}</p>
						<a href="#" class="btn btn-sm btn-white" data-toggle="modal" data-target="#modal-six">Read more</a>
					</div>
				</div>	
			</div>
		{% endif %}
	</div>
	{% include 'partials/modal-one.twig' %}
	{% include 'partials/modal-two.twig' %}
	{% include 'partials/modal-three.twig' %}
	{% include 'partials/modal-four.twig' %}
	{% include 'partials/modal-five.twig' %}
	{% include 'partials/modal-six.twig' %}
</section>