{# Services section #}
<div class="container-fluid services-section" id="services">
	<div class="container spacing-y">
		<div class="row">
			<div class="col text-center">
				<h2 class="fade-in-up">Services</h2>
			</div>
		</div>
		<div class="row mt-5 fade-in-up">
			{% if post.meta('skill_one_image') %}
				<div class="col-lg-8 text-center service-block">
					<img src="{{ Image(post.meta('service_one_image')).src }}" alt="" class="service-block__icon" width="75">
					{{ post.meta('service_one_text') }}
				</div>
			{% endif %}
			{% if post.meta('skill_two_image') %}
				<div class="col-lg-8 text-center service-block">
					<img src="{{ Image(post.meta('service_two_image')).src }}" alt="" class="service-block__icon" width="75">
					{{ post.meta('service_two_text') }}
				</div>
			{% endif %}
			{% if post.meta('skill_three_image') %}
				<div class="col-lg-8 text-center service-block">
					<img src="{{ Image(post.meta('service_three_image')).src }}" alt="" class="service-block__icon" width="75">
					{{ post.meta('service_three_text') }}
				</div>
			{% endif %}
		</div>
	</div>
</div>