{# Skills #}
<section class="container-fluid skills-section primary-bg" id="skills">
	<div class="container spacing-y">
		<div class="row">
			<div class="col text-center">
				<h2 class="fade-in-up">Skills</h2>
				<div class="skills-carousel fade-in-up">
					{% if post.meta('skill_one_image') %}
						<div class="skills-carousel__skill">
							<img src="{{ Image(post.meta('skill_one_image')).src }}" alt="" class="skills-carousel__skill__icon" width="75">
							{{ post.meta('skill_one_text') }}
						</div>
					{% endif %}
					{% if post.meta('skill_two_image') %}
						<div class="skills-carousel__skill">
							<img src="{{ Image(post.meta('skill_two_image')).src }}" alt="" class="skills-carousel__skill__icon" width="75">
							{{ post.meta('skill_two_text') }}
						</div>
					{% endif %}
					{% if post.meta('skill_three_image') %}
						<div class="skills-carousel__skill">
							<img src="{{ Image(post.meta('skill_three_image')).src }}" alt="" class="skills-carousel__skill__icon" width="75">
							{{ post.meta('skill_three_text') }}
						</div>
					{% endif %}
					{% if post.meta('skill_four_image') %}
						<div class="skills-carousel__skill">
							<img src="{{ Image(post.meta('skill_four_image')).src }}" alt="" class="skills-carousel__skill__icon" width="75">
							{{ post.meta('skill_four_text') }}
						</div>
					{% endif %}
					{% if post.meta('skill_five_image') %}
						<div class="skills-carousel__skill">
							<img src="{{ Image(post.meta('skill_five_image')).src }}" alt="" class="skills-carousel__skill__icon" width="75">
							{{ post.meta('skill_five_text') }}
						</div>
					{% endif %}
					{% if post.meta('skill_six_image') %}
						<div class="skills-carousel__skill">
							<img src="{{ Image(post.meta('skill_six_image')).src }}" alt="" class="skills-carousel__skill__icon" width="75">
							{{ post.meta('skill_six_text') }}
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>