{% block html_head_container%}

{% include 'html-header.twig' %}
    {% block head %}
    {% endblock%}
    </head>
{% endblock%}


	<body data-spy="scroll" data-target="#navbar" class="{{body_class}}" data-template="base.twig">
		<div id="top"></div>
		<header class="header">
			{% block header %}
				<nav class="navbar container fixed-top navbar-expand-lg navbar-light" id="navbar">
				  <a class="navbar-brand scrollto" href="#top"><img src="{{ site.theme.link }}/static/images/logo.svg" alt="Daniel Rees, logo" width="200"></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  {% include "partials/menu.twig" with {'items': menu.get_items} %}
				</nav>
			{% endblock %}
		</header>

		<section id="content" role="main">
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{# {% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %} #}
		</section>

		{% block footer %}
			<footer class="text-center mt-5 mb-5" id="footer">
				Copyright &copy; Daniel Rees {{"now"|date('Y')}}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
		<script src="{{ site.theme.link }}/static/js/custom.js"></script>
	</body>
</html>
