{% extends "base.twig" %}

{% block content %}
	{% include 'partials/hero.twig' %}
	{% include 'partials/about-section.twig' %}
	{% include 'partials/skills-section.twig' %}
	{% include 'partials/services-section.twig' %}
	{% include 'partials/portfolio-section.twig' %}
	{% include 'partials/contact-section.twig' %}
{% endblock %}